FRONT_PORT=4003
NEXT_PUBLIC_APP_URL=http://localhost:4003
NEXT_PUBLIC_BACK_API=http://localhost:9000/api
NEXT_SERVER_API_PROXY_HOSTPORT=
NEXT_SERVER_API_PROXY_TARGET=
NEXT_PUBLIC_ENABLE_DEMO_ACCOUNTS=true
NEXT_PUBLIC_SHOW_API_DOCS=true
NEXT_PUBLIC_ENABLE_BROWSER_DEBUG_LOGS=false
NEXT_PUBLIC_TINY_KEY=
